.App {
  text-align: center;
}

.gradient-background {
  background: linear-gradient(45deg, #ff6b6b, #556270);
  color: white;
  padding: 20px;
  border-radius: 10px; /* Adiciona borda redonda */
  margin-bottom: 20px; /* Adiciona espaço entre o container e os elementos abaixo */
  margin-top: 15px;
}

.card-black {
  background-color: black;
  border-radius: 10px; /* Adiciona borda redonda aos cards */
}

.modal-content {
  border-radius: 10px; /* Adiciona borda redonda ao modal */
}
